.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.big-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    background-color: darkcyan;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    margin-left: 20rem;
}

.form-div{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 1.5rem;
    padding: 1.5rem;
    width: 20rem;
    height: 12.5rem;
    background-color:darkcyan;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    align-items: center;
}
.form-div input {
    margin-bottom:1rem;
    height: 2rem;
    font-size: 1.5rem;
}
.form-div button {
    width: 15rem;
    height: 10rem;
    font-size: 1.5rem;
}
.column  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0.5rem;
}
.column h2{
    margin:0.5rem;
}
.column h1{
    margin:0rem
}
.row {
    display: flex;
    margin: 0.5rem;

}
.mini-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.mini-column {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-style: ridge;
}
.mini-column h4 {
    margin: 0.5rem
}
.task-div{
    background-color: rgba(194, 216, 235, 0.76);
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    margin: 1.5rem ;
    padding: 1.5rem;
    width: 25rem;
    height: fit-content;
}

.filter {
    margin:3rem
}
.task {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 0.5rem;
    margin:0.5rem;
    border-style: solid;
    height: min-content;
}
.task h3 {
    margin: 0rem
}
.task h2 {
    margin: 0rem
}
.task p{
    margin: 0rem
}
/* Text colors */
.completed{
    color:green
}
.title {
   color:darkcyan;
}
.pending{
    color:maroon
}
.info{
    color: indigo;
    font-size: 1.25rem;
}
.date {
    color: darkgoldenrod;
}
/* Media querys */
@media only screen and (max-width:400px) {
    .row{
        display: flex;
        flex-direction: column;
        align-content: stretch;
        align-items: center;
    
    }
    .form-div{
        align-content: space-around;
    }
    .task-div{
        width: -webkit-fill-available;
    }
    .column h1 {
        font-size: 1.5rem;
    }
    .big-div {
        margin-left: 0px;
        margin-bottom: 20rem;
    }
  }
  